<form name="classForm" class="form-horizontal" ng-submit="submitForm()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">新建班级</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error' : classForm.className.$invalid && !classForm.className.$pristine, 'has-success' : classForm.className.$valid }">
            <label class="control-label col-sm-3">班级名称 <span class="glyphicon glyphicon-asterisk" style="color: crimson; font-size: x-small" aria-hidden="true"></span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="className" ng-model="dataItem.name" required>
                <p class="help-block" ng-show="classForm.className.$invalid && !classForm.className.$pristine">请输入用户名</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success' : classForm.classProject.$valid }">
            <label class="control-label col-sm-3">所属项目 <span class="glyphicon glyphicon-asterisk" style="color: crimson; font-size: x-small" aria-hidden="true"></span></label>
            <div class="col-sm-9">
                <select class="form-control" name="classProject" ng-model="dataItem.projectId" ng-options="project.id as project.name for project in dataItem.projects" required></select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" type="submit" ng-disabled="classForm.$invalid">确认新建</button>
    </div>
</form>