<div class="container-fluid">
    <div class="row">
        <h1>项目管理</h1>
    </div>
    <div tableFunction class="row" data-source="displayedProject" items-per-page="itemsPerPage" open-modal="openModal" trigger-modal="triggerModal" execute-create="executeCreate" execute-edit="executeEdit" execute-delete="executeDelete" execute-export="executeExport"></div>
    <div class="row">
        <div class="table-responsive">
            <table st-table="displayedProject" st-safe-src="sourceProject" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th st-sort="Id">项目编号</th>
                    <th st-sort="Name">项目名称</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in displayedProject" st-select-row="project" st-select-mode="multiple">
                    <td>{{project.Id}}</td>
                    <td><button type="button" class="btn btn-link btn-xs" ng-click="triggerModal(project)">{{project.Name}}</button></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="2"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<style type="text/css">
    .st-sort-ascent:after {
        content: '\25B2';
    }

    .st-sort-descent:after {
        content: '\25BC';
    }
    .st-selected {
        background: #216eff !important;
        color: white !important;
    }
</style>