<div class="container-fluid">
    <div class="row">
        <h1>项目管理</h1>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary pull-right" ng-click="open()">新建项目</button>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>项目编号</th>
                    <th>项目名称</th>
                </tr>
                </thead>
                <tbody ng-repeat="project in projects">
                <tr>
                    <td>{{project.Id}}</td>
                    <td>{{project.Name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <pagination class="pull-right" total-items="projects.length" ng-model="currentPage" items-per-page="2" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页"></pagination>
    </div>
</div>