<div class="container-fluid">
    <div class="row">
        <h1>项目管理</h1>
    </div>
    <div tableFunction class="row" data-resource-url="'api/project/:id'" trigger-edit-data="triggerEditData" edit-data="editData" data-source="sourceProject" data-displayed-source="displayedProject" items-per-page="itemsPerPage"></div>
    <div class="row">
        <div class="table-responsive">
            <table st-table="displayedProject" st-safe-src="sourceProject" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th st-sort="Id">项目编号</th>
                    <th st-sort="Name">项目名称</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in displayedProject" st-select-row="project" st-select-mode="multiple">
                    <td>{{project.id}}</td>
                    <td><button type="button" class="btn btn-link btn-xs" ng-click="triggerEditData(project)">{{project.name}}</button></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsPerPage"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>