<!DOCTYPE html>
<html ng-app="eLearning">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>

    <!-- include: "type": "css", "files": "css/*.css" -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="Content/smart-table.css" rel="stylesheet"/>
    <!-- /include -->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="#">E-Learning</a>
        </div>
        <div ng-controller="indexCtrl" class="navbar-collapse collapse navbar-responsive-collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li><a ui-sref="project">项目管理</a></li>
                <li><a ui-sref="user">用户管理</a></li>
                <li><a ui-sref="class">班级管理</a></li>
                <li><a ui-sref="#">项目管理</a></li>
                <li dropdown=dropdown>
                    <a href="#" dropdown-toggle>用户管理 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="#">用户管理</a></li>
                        <li><a ui-sref="#">项目管理</a></li>
                        <li><a ui-sref="#">项目管理</a></li>
                    </ul>
                </li>
                <li><a ui-sref="about" ng-click="test()">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li ng-hide="!authentication.isAuth"><a ui-sref="#">欢迎 {{authentication.userName}}</a></li>
                <li ng-hide="!authentication.isAuth"><a ng-click="logout()">注销</a></li>
                <li ng-hide="authentication.isAuth"> <a ui-sref="login">登录</a></li>
                <li ng-hide="authentication.isAuth"> <a ui-sref="signup">注册</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 50px">
    <div ui-view></div>
</div>

    <!-- include: "type": "js", "files": "js/angular.min.js" -->
    <!-- include: "type": "js", "files": "js/*.js" -->
    <script src="bower_components/respond/dest/respond.src.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/amitava82-angular-multiselect/src/multiselect-tpls.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>

    <script src="app/app.js"></script>
    <script src="index.js"></script>
    <script src="app/tableFunction.js"></script>
    <script src="app/authService.js"></script>
    <script src="app/home/home.js"></script>
    <script src="app/project/project.js"></script>
    <script src="app/user/user.js"></script>
    <script src="app/class/class.js"></script>
    <script src="app/account/login.js"></script>
    <script src="app/account/signup.js"></script>
    <!-- /include -->

</body>
</html>