<form name="userForm" class="form-horizontal" ng-submit="submitForm()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">新建用户</h3>
    </div>
    <div class="modal-body">
        <div class="form-group has-feedback" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine }">
            <label class="control-label col-sm-3">用户名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="userName" ng-model="dataItem.Name" required>
                <span class="glyphicon glyphicon-asterisk form-control-feedback" style="color: crimson; font-size: 10px" aria-hidden="true"></span>
                <p class="help-block" ng-show="userForm.projectName.$invalid && !userForm.projectName.$pristine">请输入用户名</p>
            </div>
        </div>
        <div class="btn-group" dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                Button dropdown <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a href="#">Action</a></li>
                <li role="menuitem"><a href="#">Another action</a></li>
                <li role="menuitem"><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" type="submit" ng-disabled="userForm.$invalid">确认新建</button>
    </div>
</form>