@{
    ViewBag.Title = "Index2";
}
<div class="container-fluid">
    <div class="row">
        <h1>Index2</h1>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">新建项目</button>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>项目编号</th>
                        <th>项目名称</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td>@project.Id</td>
                        <td>@project.Name</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">新建项目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label col-sm-2">项目名称:</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="recipient-name"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="select();">确认新建</button>
            </div>
        </div>
    </div>
</div>
<script>
    function select() {
        $('#exampleModal').modal('hide');
        var table = $('table').DataTable();
        var selectedRows = table.rows({ selected: true }).data();
        $.each(selectedRows, function(index, value) {
            alert(index + ': ' + value);
            alert(value[0]);
            alert(value[1]);
        });
    }
    function testGet() {
        $.post("/Home/Test", { name: $('#recipient-name').val() }, function (result) {
            //AddTalbeRow(result);
            $('#exampleModal').modal('hide');
        });
    }

    function AddTalbeRow(project) {
        $('table > tbody > tr:first').before('<tr><td>' + project.Id + '</td><td>' + project.Name + '</td></tr>');
    }

    window.onload = function() {
        $('table').DataTable({
            "language": { "url": "//cdn.datatables.net/plug-ins/1.10.8/i18n/Chinese.json" },
            "select": { style: "multi" }
        });
    };
</script>